@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/font-converted/Montserrat-Thin.woff2");
    font-weight: 100;
}

@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/font-converted/Montserrat-Light.woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/font-converted/Montserrat-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/font-converted/Montserrat-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/font-converted/Montserrat-SemiBold.woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/font-converted/Montserrat-Bold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Adobe Garamond Pro";
    src: url("./adobe/AGaramondPro-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Adobe Garamond Pro";
    src: url("./adobe/AGaramondPro-Bold.woff2") format("woff2");
    font-weight: 700;
}

header {
    background-image: url(./images/Rectangle\ 1099.png);
}

.div-one {
    display: flex;
    padding-left: 213px;
    padding-right: 210px;
}

ul>li {
    display: inline;
    list-style: none;
    color: white;
    justify-content: end;
    margin-right: 88px;
}

.contact-us {
    color: white;
    text-align: center;
    padding-bottom: 171px;
    font-family: 'Montserrat';
    font-weight: 700px;
    font-size: 80px;
}

.we {
    margin-top: 261px;
    text-transform: uppercase;
    margin-left: 202px;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #14274A;


}

.Luxury-Hotels {
    font-family: 'Montserrat';
    font-style: 'regular';
    font-size: 30px;
}

.here {
    font-family: 'Adobe Garamond Pro';
    font-weight: 'Bold';
    font-size: 60px;
}

.section-three {
    margin-left: 202px;
    margin-top: 167px;
    display: flex;
}

.Evergreen {
    font-family: 'Montserrat';
    font-weight: 400px;
    font-size: 40px;
    color: #14274A;
}



.View-map {
    font-family: 'Montserrat';
    font-weight: 400px;
    font-size: 40px;
    color: #14274A;
}

.view-map__wrapper {
    display: flex;
    align-items: center;
}

.view-map__wrapper>span img {
    margin-left: 32px;
}

.phone {
    font-family: 'Montserrat';
    font-weight: 400px;
    font-size: 40px;
    color: #14274A;
}

.div {
    margin-left: 60px;
}

.p {
    font-family: Arial;
    font-weight: 400px;
    font-size: 25px;
    color: #14274A
}

.name {
    height: 78px;
    width: 570px;
    border-radius: none;
    color: #14274A
}

.message {
    height: 352px;
    width: 570px;
    border-radius: none;
    color: #14274A
}

.button {
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 24px;
    font-family: 'Montserrat';
    font-style: bold;
    font-size: 24px;
    margin-left: 430px;
    background-color: #E0B973;
    color: white;
    border-radius: none;


}

.footer {

    background-image: url(./images/Union\ 3.png);
    background-size: contain;
    padding-top: 20px;
    background-repeat: no-repeat;
    width: 100%;
}

.div-six {
    display: flex;
    justify-content: space-between;
    padding-left: 185px;
    padding-bottom: 20px;
}

.lux {
    font-family: 'Adobe Garamond Pro';
    font-weight: 700px;
    font-size: 25px;
    color: white;
    padding-top: 44px;
}

.hol {
    font-family: 'Adobe Garamond Pro';
    font-weight: 700px;
    font-size: 9px;
    letter-spacing: 0.6px;
    color: white;
    padding-left: 20px;
}

.Evergreen {
    font-family: 'Montserrat';
    font-weight: 400px;
    font-size: 14px;
    padding-top: 22px;
    color: white;
}

.div-seven {
    color: white;
    padding-top: 44px;
}

.logo-container {
    display: flex;
    color: white;
    align-items: center;
    padding-top: 44px;
}

.logo {
    margin-left: 16px;
}

.logo-container span>img {
    width: 20px;
    height: 21px;
}

.Subscribe {
    margin-right: 325px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 400px;
    font-size: 16px;
    padding-bottom: 30px;


}

input[type="email"] {
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 16px;
    background-color: transparent;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
    border-color: #E0B973;
    outline: none;
}

button[type="submit"] {
    background-color: #E0B973;
    border: none;
    width: 52px;
}


.mail-submit {
    display: flex;
}

.div {
    padding-top: 44px;
}